body, html {
    padding: 0px;
    margin: 0px;
}


.mover {
    display: flex;
}

.contenedor
{
    max-width:1200px;
    margin-left:520px;
    margin-top:30px;
}

input[type="email"], input[type="password"], input[type="file"]
{
    max-width: 440px;
    width:100%;
    padding:5px;
    border-style:solid;
    border-radius:5px;

}

/*Selectores universalles*/


body, html {
    padding: 0px;
    margin: 0px;
}

.carta {
    width: 40%;
    max-width: 1200px;
    height: 300px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: auto;
    padding: 20px;
}

.carta a {
    padding: 0 1rem;
    font-size: 16px;
    color: #3498db;
}

.mover {
    display: flex;
}

.carta:hover {
    transition: 1s;
    box-shadow: 0 12px 16px rgba(0,0,0,2);
}

.carta {
    box-shadow: 0px 1px 1px;
}

nav {
    background-color: #6154CB;
    border-radius: 10px;
    box-shadow: 1px 1px 4px 1px black;
}

/*Selectores por clases para la barra*/

.logo {
    display:flex;
    justify-content: center;
}

.space {
    justify-content: space-between;
}

.ml {
    margin-right: 10px;
}



